header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: #007bff;
    color: #ffffff;
}

header nav .logo {
    color: #ffffff;
    font-size: 20px;
}

header nav .logo img {
    height: 50px;
    vertical-align: middle;
    margin-right: 10px;
}

header nav .logo a {
    color: rgb(226, 226, 226);
    text-decoration: none;
}

header nav .logo a:hover {
    color: #ffffff;
}

header nav .nav-links {
    display: flex;
    justify-content: space-around;
    width: 400px;
}

header nav .nav-links li {
    list-style: none;
}

header nav .nav-links li.active a {
    color: #ffffff;
    font-weight: bold;
}

header nav .nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    font-size: 16px;
}

header nav .nav-links a:hover {
    color: #ffffff;
}

header nav .burger {
    display: none;
    cursor: pointer;
    /* border: 1px solid #ffffff; */
    width: 35px;
    height: 35px;
}

header nav .burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 6px 4px;
    transition: all 0.5s ease-in-out;
}

header nav .burger.burger-active .line2 {
    transform: translateX(-12px);
    background: transparent;
}

header nav .burger.burger-active .line1 {
    transform: translateY(9px) translateX(0px) rotate(45deg);
}

header nav .burger.burger-active .line3 {
    transform: translateY(-9px) translateX(0px) rotate(-45deg);
}

@media screen and (max-width: 1024px) {
    header nav .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    html, body {
        overflow-x: hidden;
    }

    header nav {
        width: 100vw;
        position: fixed;
        top: 0px;
        z-index: 99999;
    }

    header nav .burger {
        display: block;
    }

    header nav .nav-links {
        position: absolute;
        right: 0px;
        height: calc(100vh - 70px);
        top: 70px;
        background-color: #007bff;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        padding-bottom: 100px;
    }

    header nav .nav-active {
        transform: translateX(0%);
    }
}