.page-index .hero-logo {
    display: block;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    animation: 1s ease-out 0s 1 rotateIn;
}

.page-index .content,
.page-download .content,
.page-imprint .content,
.page-privacy .content
{
    max-width: 718px;
}


@keyframes rotateIn {
    0% {
      transform: rotate(365deg);
    }
    100% {
      transform: translateX(0deg);
    }
  }