:root {
  --shadowDefault: 0 1px 1px rgba(100,100,100,0.33),
                   0 2px 2px rgba(100,100,100,0.33),
                   0 4px 4px rgba(100,100,100,0.33),
                   0 8px 8px rgba(100,100,100,0.33),
                   0 16px 16px rgba(100,100,100,0.33);
}

body {
    font-family: "-apple-system", "BlinkMacSystemFont", "Helvetica Neue", "Roboto", sans-serif;
    line-height: 28px;
    color: #333;
}

.container {
    margin-top: 50px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h2 {
    margin-top: 75px;
}

h3 {
    margin-top: 75px;
}

h4 {
    margin-top: 35px;
}

ol li {
    margin-bottom: 10px;
}

ul li {
    margin-bottom: 10px;
}

footer {
    font-size: 12px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

code {
    font-size: 14px;
    padding: 2px 4px;
    color: #c0341d;
    background-color: #fbe5e1;
    border-radius: 5px;
}

.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.break {
    word-break: break-all;
}

code.block {
    padding: 25px;
    display: block;
    white-space: pre-wrap;
    background-color: #282c34;
    color: #abb2bf;
    font-size: 16px;
    line-height: 1.6;
    box-shadow: var(--shadowDefault);
}

.notice {
    margin: 50px 0px 50px 0px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid transparent;
}

.notice.danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.notice.warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.notice.info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

img.imagePreview {
    display: block;
    margin: 2em 0;

    box-shadow: var(--shadowDefault);
    border-radius: 5px;
}

form.download {
    max-width: 512px;
    margin-left: auto;
    margin-right: auto;
}

.download input {
    width: 100%;
    height: 35px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

.download button {
    width: 100%;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;

    background-color: #ffffff;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
}

.download button:hover {
    background-color: #007bff;
    color: #ffffff;
    border: 1px solid #007bff;
}

.button {
    font-size: 18px;
    padding: 10px;
    cursor: pointer;

    background-color: #ffffff;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
    text-align: center;

    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
}

.button:hover {
    background-color: #007bff;
    color: #ffffff;
    border: 1px solid #007bff;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    border: 1px solid #cccccc;
}

td {
    border: 1px solid #cccccc;
    padding: 3px 10px 3px 10px;
}


/**
 * Misc
 */
a.link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.at:before {
    content: '@';
}

.dot:before {
    content: '.';
}

/**
 * Responsive
 */
@media (max-width: 512px) {
    .row {
        grid-template-columns: 1fr;
    }
}
