:root {
    --gutterDefault: 10px;

    --colourLight: #fff;
    --colourDark: #333;
    --colourBlue: #007bff;

    --radiusDefault: 4px;

    --shadowDefault: 0 1px 1px rgba(100,100,100,0.33),
                     0 2px 2px rgba(100,100,100,0.33),
                     0 4px 4px rgba(100,100,100,0.33),
                     0 8px 8px rgba(100,100,100,0.33),
                     0 16px 16px rgba(100,100,100,0.33);
}

.pageWrapper {
    max-width: 800px;
    margin: 40px auto auto;
    padding: 8px;
}


/**
 * General
 */
body {
    margin: 0;

    font-family: "-apple-system", "BlinkMacSystemFont", "Helvetica Neue", "Roboto", sans-serif;
    line-height: 28px;
    color: var(--colourDark);
    background-color: var(--colourLight);
}

section {
    margin-top: 6em;
}

img {
    max-width: 100%;
}

p {
    margin: 0 0 1em 0;
}

ul,
ol {
    margin: 0 0 2em 0;
}

ul li,
ol li {
    margin: 0 0 0.4em 0;
}


/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1em 0;
}

h3,
h4,
h5,
h6 {
    margin-top: 2em;
}


/**
 * Tables
 */
table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    border: 1px solid #cccccc;
}

td {
    border: 1px solid #cccccc;
    padding: 3px 10px 3px 10px;
}


/**
 * Links
 */
a {
    color: var(--colourBlue);
}

.link {
    color: var(--colourBlue);
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    color: var(--colourBlue);
    text-decoration: none;
}


/**
 * Fieldset
 */
fieldset {
    padding: unset;
    margin: unset;

    border: unset;
}


/**
 * Input
 */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;

    border: 1px solid var(--colourDark);
    border-radius: var(--radiusDefault);

    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border: 1px solid var(--colourDark);
}


/**
 * Code
 */
code {
    font-size: 14px;
    padding: 4px;
    color: #fff;
    background-color: var(--colourDark);
    border-radius: var(--radiusDefault);
}

code.block {
    display: block;
    padding: 25px;
    margin-bottom: 1em;

    font-size: 16px;
    line-height: 1.6;

    white-space: pre-wrap;
    color: #fff;
    background-color: var(--colourDark);
    border: 1px solid #333;
}


/**
 * Titel / Head
 */
.logo {
    margin-bottom: 20px;
}

header .m {
    color: var(--colourDark);
}


/**
 * Navigation
 */
nav {
    margin: 2em 0;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: var(--gutterDefault);

    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    margin: 0;
}

button,
nav ul li.button a {
    display: inline-block;
    width: 100%;
    padding: 10px;

    font-size: inherit;

    cursor: pointer;
    color: var(--colourBlue);
    background-color: var(--colourLight);
    border: 1px solid var(--colourBlue);
    border-radius: var(--radiusDefault);
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
}

button:hover,
nav ul li.button.active a,
nav ul li.button a:hover {
    color: #ffffff;
    background-color: var(--colourBlue);
}


/**
 * Notice
 */
.notice {
    margin-bottom: 1em;
    padding: 20px;
    border-radius: var(--radiusDefault);
    border: 1px solid transparent;
}

/*
 * To do: change colour because it does not work with the purple
 */
.notice.info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

/*
 * To do: change colour because it does not work with the purple
 */
.notice.warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

/*
 * To do: change colour because it does not work with the purple
 */
.notice.danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.notice p:last-of-type {
  margin-bottom: 0;
}


/**
 * Previews / Screenshots
 */
img.imagePreview {
    width: 100%;

    box-shadow: var(--shadowDefault);
    border-radius: var(--radiusDefault);
}


/**
 * Download form
 */
.download {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, max-content);

    max-width: 512px;
    margin: auto;
}


/**
 * Miscellaneous
 */
.break {
    word-break: break-all;
}

.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}

.at:before {
    content: '@';
}

.dot:before {
    content: '.';
}


/**
 * Footer
 */
footer {
    font-size: 12px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}


/**
 * Responsive
 */
@media (max-width: 512px) {
    * {
      word-wrap: anywhere;
    }

    nav ul {
        grid-template-columns: 1fr;
    }

    .nowrap {
        white-space: inherit;
    }
}
