:root {
    --pageWidth: 1100px;
    --contentWidth: 80ch;

    --gutterHalf: 10px;
    --gutterDefault: 20px;

    --colourLight: #fff;
    --colourDark: #333;
    --colourPrimary: #007bff;

    --radiusDefault: 4px;

    --shadowDefault:
        0 1px 1px rgba(0,0,0,0.12),
        0 2px 2px rgba(0,0,0,0.12),
        0 4px 4px rgba(0,0,0,0.12);
}


/**
 * To do:
 * Add this to an extra stylesheet and load it last
 */
@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/quicksand.ttf') format('truetype');
}


/**
 * General
 */
header {
    position: sticky;
    top: 0;
    z-index: 10;
}

body {
    margin: 0;

    font-family: 'Quicksand', sans-serif;
    line-height: 28px;
    color: var(--colourDark);
    background-color: var(--colourLight);
}

section {
    margin-top: 6em;
}

section:first-of-type {
    margin-top: 2em;
}

img {
    max-width: 100%;
}

p {
    margin: 0 0 1em 0;
}

ul,
ol {
    margin: 0 0 2em 0;
}

ul li,
ol li {
    margin: 0 0 0.4em 0;
}


/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1em 0;
}

h3,
h4,
h5,
h6 {
    margin-top: 2em;
}


/**
 * Tables
 */
table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    border: 1px solid #cccccc;
}

td {
    border: 1px solid #cccccc;
    padding: 3px 10px 3px 10px;
}


/**
 * Links
 */
a {
    color: var(--colourPrimary);
}

.link {
    color: var(--colourPrimary);
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    color: var(--colourPrimary);
    text-decoration: none;
}

a.anchor {
    color: #cccccc;
    text-decoration: none;
}


/**
 * Fieldset
 */
fieldset {
    padding: unset;
    margin: unset;

    border: unset;
}


/**
 * Input
 */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;

    border: 1px solid var(--colourDark);
    border-radius: var(--radiusDefault);

    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border: 1px solid var(--colourDark);
}


/**
 * Code
 */
code {
    font-size: 14px;
    padding: 4px;
    color: #fff;
    background-color: var(--colourDark);
    border-radius: var(--radiusDefault);
    white-space: nowrap;
}

code.block {
    display: block;
    padding: 25px;
    margin-bottom: 1em;

    font-size: 16px;
    line-height: 1.6;

    white-space: pre-wrap;
    color: #fff;
    background-color: var(--colourDark);
    border: 1px solid #333;
}


/**
 * Titel / Head
 */
header .m {
    color: var(--colourDark);
}


/**
 * Navigation
 */
header nav {
    --paddingLi: 16px;

    max-height: 64px;
    padding: 0.4em;

    box-shadow: var(--shadowDefault);
    background-color: var(--colourPrimary);
}

header nav ul {
    padding: 0;
    margin: 0 auto;
    list-style: none;
}

header nav > ul {
    display: flex;
    align-items: center;

    max-height: inherit;
    width: var(--pageWidth);
}

header nav ul li {
    position: relative;
    display: inline-block;
    max-height: inherit;

    margin: 0 1em;

    vertical-align: middle;
}

header nav ul li:first-of-type {
    margin-left: 0;
}

header nav ul li:last-of-type {
    margin-right: 0;
}

header nav ul li i {
    margin-left: 8px;

    vertical-align: middle;
    font-size: 0.8em;
}

/**
 * Overwrite the critical inline CSS
 */
header nav ul li img {
    width: auto !important;
    height: auto !important;

    max-height: inherit;

    margin: 0;
}

header nav ul li a {
    color: var(--colourLight);

    font-weight: 550;
    opacity: 0.8;

    text-decoration: none;
}

header nav ul li:hover > a,
header nav ul li.active > a {
    color: var(--colourLight);

    opacity: 1;
}

header nav ul li ul {
    position: absolute;
    width: auto;
    max-height: unset;
    left: calc(var(--paddingLi) * -1);

    border-radius: var(--radiusDefault);
    box-shadow: var(--shadowDefault);

    color: var(--colourLight);
    background-color: var(--colourLight);
}

header nav ul li ul li {
    display: none;
    margin: 0;
}

header nav ul li:hover ul li {
    display: block;
}

header nav ul li ul li a {
    display: block;
    padding: 8px var(--paddingLi);

    color: var(--colourDark);
}

header nav ul li ul li:hover a {
    color: var(--colourDark);
}


/**
 * Sidebar
 */
aside.sidebar {
    --navHeight: 77px;

    position: sticky;
    top: var(--navHeight);
    height: calc(100vh - var(--navHeight));

    overflow: auto;
}

aside.sidebar h3 {
    margin-top: 1em;
}

aside.sidebar ul {
    padding-left: var(--gutterDefault);
	margin: 2em 0;
}


/**
 * Button
 */
 button {
     display: inline-block;
     width: 100%;
     padding: 10px;

     font-size: inherit;

     cursor: pointer;
     color: var(--colourPrimary);
     background-color: var(--colourLight);
     border: 1px solid var(--colourPrimary);
     border-radius: var(--radiusDefault);
     text-align: center;
     box-sizing: border-box;
     text-decoration: none;
 }

 button:hover {
     color: #ffffff;
     background-color: var(--colourPrimary);
 }


/**
 * Notice
 */
.notice {
    margin-bottom: 1em;
    padding: var(--gutterDefault);
    border-radius: var(--radiusDefault);
    border: 1px solid transparent;
}

/*
 * To do: change colour because it does not work with the purple
 */
.notice.info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

/*
 * To do: change colour because it does not work with the purple
 */
.notice.warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

/*
 * To do: change colour because it does not work with the purple
 */
.notice.danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.notice p:last-of-type {
  margin-bottom: 0;
}


/**
 * Previews / Screenshots
 */
img.imagePreview {
    width: 100%;

    box-shadow: var(--shadowDefault);
    border-radius: var(--radiusDefault);
}


/**
 * Download form
 */
.download {
    display: grid;
    grid-gap: var(--gutterDefault);
    grid-template-columns: auto;
    grid-template-rows: repeat(3, max-content);

    max-width: 512px;
    margin: auto;
}


/**
 * Miscellaneous
 */
.pageWrapper {
    max-width: var(--pageWidth);
    margin: 40px auto auto;
    padding: 8px;
}

.pageWrapper.withSidebar {
    display: grid;
    grid-gap: var(--gutterDefault);
    grid-template-columns: auto max-content;
}

.content {
    max-width: var(--contentWidth);

    margin: 0 auto;
}

#logo {
    display: block;
    margin: -20px auto 20px auto;
}

.break {
    word-break: break-all;
}

.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}

.at:before {
    content: '@';
}

.dot:before {
    content: '.';
}


/**
 * Footer
 */
footer {
    font-size: 12px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}


/**
 * Responsive
 */
@media (max-width: 1140px) {
    header nav {
    	padding: 8px 40px;
    }

    .pageWrapper {
    	margin: 0;
    	padding: 40px;
    }

    .pageWrapper.withSidebar {
    	grid-template-columns: 1fr 2fr;
    }
}

@media (max-width: 768px) {
    header {
        position: static;
    }

    header nav {
        padding: 8px 20px;

    	max-height: unset;
    }

    header nav > ul {
    	flex-flow: column;
        align-items: flex-start;
    	width: auto;
    }

    header nav ul li {
        width: 100%;

        margin: 0;
    }

    header nav ul li img {
      display: block;
        max-height: 3em;
    }

    header nav ul li a {
        width: 100%;
    }

    header nav ul li ul {
        position: static;
    }

    .pageWrapper {
    	padding: 20px;
    }

    .pageWrapper.withSidebar {
    	grid-template-columns: auto;
        grid-template-rows: 40vh auto;
    }

    aside.sidebar {
    	position: static;
    	height: inherit;
    }

    #logo {
    	margin: 0 auto 20px auto;
    }
}

@media (max-width: 512px) {
    * {
      word-wrap: anywhere;
    }

    .nowrap {
        white-space: inherit;
    }
}
